*
  margin 0
  padding 0
  box-sizing border-box

ul, li
  list-style none
  
.r-swiper-out
  position relative
  overflow hidden
  
  &-item
    padding 1em
    height 64px
    background #f5f5f5
    
    &-content
        width 100%
        text-align center
       
       
    &-btns
        position absolute
        right 0
        display inline-block
        top 0
        padding 1em
        height 64px
        background red
        transform translateX(100%)